{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/job/new" method="post">
                <div class="form-group">
                    <label for="exampleInput">Job Title</label>
                    <input type="text" class="form-control" id="exampleInput" name="title" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInput">Description</label>
                    <textarea name="notes" id="" class="form-control" rows="5" placeholder="Brief description of your duties"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>